body{
    background: #2A7AE4;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    padding: 2em 0 0 2em;
    justify-content: space-evenly;
}
.encriptador-aluralogo{
    width: 8em;
}
.encriptador-aluralogo img{
    width: 8em;
}
.encriptador-input{
    color: white;
    /* background: white; */
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    row-gap: 1em;
    height: 80vh;
}
.encriptador-input textarea{
    color: white;
    background: none;
    outline: none;
    height:70%; 
    font-size: 2em;
}
.encriptador-input textarea::placeholder{
    color: rgb(207, 205, 205);
}
.encriptador-input h3{
    width: 100%;
    font-size: 1.2em;
    font-weight: 300;
}
.encriptador-input h3::before{
    content: "🛈 ";
    font-size: 1em;
    font-weight: 500;
}
.encriptador-input .btn-group{
    row-gap: 0.5em;
    flex-wrap: wrap;
    margin-top: auto;
    display:flex;
    width: 100%;
    justify-content:space-between;
}
.btn-group input[type="button"]{
    display: block;
    width: 45%;
    padding: 1.2em 0;
}
textarea{
    border: none;
    width: auto;
    padding: 1em 1em;
    resize: none;
}
.encriptador-output{
    width: 30%;
    position: relative;
    border-radius: 20px;
    background: white;
    padding: 2em 0;
    height: 80vh;
    box-shadow: 0px 9px 14px 1px #000000;
}
.encriptador-output div{
    position:absolute;
    width: 100%;
    height: calc(100% - 4em);
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:2em;
}
.result textarea{
    height: 70%;
    width: 90%;
    font-size: 1.2em;
}

.result input[type="button"]{
    width: 80%;
    padding: 1.2em 0;
    margin-top: auto;
}
input[type="button"]{
    border-radius: 20px;
    border: 2px solid #0A3871;
    font-size: 1em;
    font-weight: 700;
    transition: all .5s;
}
.empty{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.empty h2{
    font-size: 1.4em;
    font-weight: 600;
}

.buttonA{
    background: #0A3871;
    color: white;
    border: 2px solid #0A3871;
}
.buttonA:hover{
    background:#D8DFE8;
    color: #172e4b;
}
.buttonB{
    background:#D8DFE8;
    color: #0A3871;
}
.buttonB:hover{
    background: #0A3871;
    color: white;
}
@media screen and (max-width:768px){
    main{
        padding: 1em 1em;
        gap: 0;
    }
    main section{
        width: 100%;
        height: fit-content;
    }
    .encriptador-input{
        margin: 0;
        width:calc(100% - 2em);
        height: 80vh;
    }
    .encriptador-output{
        width: 100%;
        height: 80vh;
    }
}